extends layout

block content

    h1 Tea Type: 
    
    h3 #{item.category_id.category_name} 

    h1 Tea Name:

    h3  #{item_name}

    h1 Tea Description: 

    h3 #{item_description}

    h1 Item Price: 

    h3 $#{item_price}

    h1 Number In Stock: 

    h3 #{number_in_stock}